* {
    margin: 0;
    padding: 0;
}

.search-form {
    margin-top: 20px;
    margin-left: 20px;
}
.country-container {
    margin-top: 50px;
    margin-left: 20px;
    max-width: 700px;
    width: 300px;
    list-style: none;
}

.text-size {
    text-transform: uppercase;
    font-weight: 700;
}

.few-country {
    margin: 5px;
}

.countrie-flag {
    margin-bottom: 10px;
}

.countrie-name {
    margin-bottom: 10px;
}

.capital-name {
    margin-bottom: 10px;
}

.population-field {
    margin-bottom: 10px;
}

.language-field {
    margin-bottom: 10px;
}

.all-fields {
    text-transform: uppercase;
}